$header-border-width: 6px;
$header-max-height: 480px;

.site-header {
	border-style: solid;
	border-width: $header-border-width 0 1px;
	border-top-color: $color-page-head-border;
	border-bottom-color: #f2f2f2;
	background-color:$color-page-head-background;
}

.site-header--masthead {

}

.site-branding {
	width:300px;
	float:left;
}

	.site-title, .site-description {
		margin:0;
	}

	.site-title {
		@include font-size(18px);
		text-transform: uppercase;
	}

	.site-description {
		@include font-size(16px);
		font-style: italic;
	}


/* Navigation */
.menu-toggle {
	display: none;
}